# keys to access data to compare wages between cities
# <https://api-ninjas.com/>
API_NINJAS_KEY=your_api_ninjas_key_here
# <https://openei.org/services/>
OPENEI_API_KEY=openei_api_key_here
# <https://www.eia.gov/opendata/register.php>
EIA_API_KEY=eia_api_key_here
# <https://www.huduser.gov/portal/dataset/fmr-api.html>
HUD_FMR_API_TOKEN=hud_personal_access_token_here
#<https://apps.bea.gov/api/signup/>
BEA_API_KEY=bea_api_key_here